In [31]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [32]:

data_path = "../data/interim/final_data.csv"

df = pd.read_csv(data_path, parse_dates=["tpep_pickup_datetime"]) # if parse_dates=["tpep_pickup_datetime"] not add then give error during fatching day,months etc
df

       tpep_pickup_datetime  region  total_pickups  avg_pickups
0       2016-01-01 00:00:00       0             58         58.0
1       2016-01-01 00:15:00       0            120         97.0
2       2016-01-01 00:30:00       0            149        123.0
3       2016-01-01 00:45:00       0            160        140.0
4       2016-01-01 01:00:00       0            187        161.0
...                     ...     ...            ...          ...
262075  2016-03-31 22:45:00      29             14         16.0
262076  2016-03-31 23:00:00      29             17         16.0
262077  2016-03-31 23:15:00      29             18         17.0
262078  2016-03-31 23:30:00      29             13         15.0
262079  2016-03-31 23:45:00      29             14         15.0

[262080 rows x 4 columns]

In [33]:
print(df.shape,df.dtypes)

(262080, 4) tpep_pickup_datetime    datetime64[ns]
region                           int64
total_pickups                    int64
avg_pickups                    float64
dtype: object

In [34]:
df["day_of_week"] = df["tpep_pickup_datetime"].dt.day_of_week
df["month"] = df["tpep_pickup_datetime"].dt.month

In [35]:
df

,tpep_pickup_datetime,region,total_pickups,avg_pickups,day_of_week,month
0,2016-01-01 00:00:00,0,58,58.0,4,1
1,2016-01-01 00:15:00,0,120,97.0,4,1
2,2016-01-01 00:30:00,0,149,123.0,4,1
3,2016-01-01 00:45:00,0,160,140.0,4,1
4,2016-01-01 01:00:00,0,187,161.0,4,1
...,...,...,...,...,...,...
262075,2016-03-31 22:45:00,29,14,16.0,3,3
262076,2016-03-31 23:00:00,29,17,16.0,3,3
262077,2016-03-31 23:15:00,29,18,17.0,3,3
262078,2016-03-31 23:30:00,29,13,15.0,3,3
262079,2016-03-31 23:45:00,29,14,15.0,3,3

In [36]:
df.set_index("tpep_pickup_datetime", inplace=True)

In [37]:
df

                      region  total_pickups  avg_pickups  day_of_week  month
tpep_pickup_datetime
2016-01-01 00:00:00        0             58         58.0            4      1
2016-01-01 00:15:00        0            120         97.0            4      1
2016-01-01 00:30:00        0            149        123.0            4      1
2016-01-01 00:45:00        0            160        140.0            4      1
2016-01-01 01:00:00        0            187        161.0            4      1
...                      ...            ...          ...          ...    ...
2016-03-31 22:45:00       29             14         16.0            3      3
2016-03-31 23:00:00       29             17         16.0            3      3
2016-03-31 23:15:00       29             18         17.0            3      3
2016-03-31 23:30:00       29             13         15.0            3      3
2016-03-31 23:45:00       29             14         15.0            3      3

[262080 rows x 5 columns]

In [38]:
region_group = df.groupby("region")
region_group

In [39]:
periods = list(range(1,5))
periods

[1, 2, 3, 4]

In [40]:
# calculate for each region last sequence of 15 interval
lag_features = region_group['total_pickups'].shift(periods= periods)
lag_features

,total_pickups_1,total_pickups_2,total_pickups_3,total_pickups_4
tpep_pickup_datetime,,,,
2016-01-01 00:00:00,NaN,NaN,NaN,NaN
2016-01-01 00:15:00,58.0,NaN,NaN,NaN
2016-01-01 00:30:00,120.0,58.0,NaN,NaN
2016-01-01 00:45:00,149.0,120.0,58.0,NaN
2016-01-01 01:00:00,160.0,149.0,120.0,58.0
...,...,...,...,...
2016-03-31 22:45:00,22.0,14.0,15.0,13.0
2016-03-31 23:00:00,14.0,22.0,14.0,15.0
2016-03-31 23:15:00,17.0,14.0,22.0,14.0
2016-03-31 23:30:00,18.0,17.0,14.0,22.0
2016-03-31 23:45:00,13.0,18.0,17.0,14.0

In [41]:
new_df= pd.concat([lag_features,df],axis=1)
new_df

,total_pickups_1,total_pickups_2,total_pickups_3,total_pickups_4,region,total_pickups,avg_pickups,day_of_week,month
tpep_pickup_datetime,,,,,,,,,
2016-01-01 00:00:00,NaN,NaN,NaN,NaN,0,58,58.0,4,1
2016-01-01 00:15:00,58.0,NaN,NaN,NaN,0,120,97.0,4,1
2016-01-01 00:30:00,120.0,58.0,NaN,NaN,0,149,123.0,4,1
2016-01-01 00:45:00,149.0,120.0,58.0,NaN,0,160,140.0,4,1
2016-01-01 01:00:00,160.0,149.0,120.0,58.0,0,187,161.0,4,1
...,...,...,...,...,...,...,...,...,...
2016-03-31 22:45:00,22.0,14.0,15.0,13.0,29,14,16.0,3,3
2016-03-31 23:00:00,14.0,22.0,14.0,15.0,29,17,16.0,3,3
2016-03-31 23:15:00,17.0,14.0,22.0,14.0,29,18,17.0,3,3
2016-03-31 23:30:00,18.0,17.0,14.0,22.0,29,13,15.0,3,3
2016-03-31 23:45:00,13.0,18.0,17.0,14.0,29,14,15.0,3,3

In [42]:
print("The shape of the df before merger ", df.shape)
print("The shape of the df after merger ", new_df.shape)

The shape of the df before merger  (262080, 5)
The shape of the df after merger  (262080, 9)

In [ ]:
new_df.isnull().any(axis=1).sum() # check row wise missing valuex

120

In [47]:
# that 120 value is logical as we have 30 region and each region have 1st 4 rows missing values
new_df.dropna(inplace=True)

In [49]:
new_df

,total_pickups_1,total_pickups_2,total_pickups_3,total_pickups_4,region,total_pickups,avg_pickups,day_of_week,month
tpep_pickup_datetime,,,,,,,,,
2016-01-01 01:00:00,160.0,149.0,120.0,58.0,0,187,161.0,4,1
2016-01-01 01:15:00,187.0,160.0,149.0,120.0,0,194,175.0,4,1
2016-01-01 01:30:00,194.0,187.0,160.0,149.0,0,180,177.0,4,1
2016-01-01 01:45:00,180.0,194.0,187.0,160.0,0,197,185.0,4,1
2016-01-01 02:00:00,197.0,180.0,194.0,187.0,0,185,185.0,4,1
...,...,...,...,...,...,...,...,...,...
2016-03-31 22:45:00,22.0,14.0,15.0,13.0,29,14,16.0,3,3
2016-03-31 23:00:00,14.0,22.0,14.0,15.0,29,17,16.0,3,3
2016-03-31 23:15:00,17.0,14.0,22.0,14.0,29,18,17.0,3,3
2016-03-31 23:30:00,18.0,17.0,14.0,22.0,29,13,15.0,3,3
2016-03-31 23:45:00,13.0,18.0,17.0,14.0,29,14,15.0,3,3

In [57]:
mapper = {name:f"lag_{ind+1}" for ind, name in enumerate(new_df.columns[0:4])}

mapper

{'total_pickups_1': 'lag_1',
 'total_pickups_2': 'lag_2',
 'total_pickups_3': 'lag_3',
 'total_pickups_4': 'lag_4'}

In [58]:
new_df.rename(columns=mapper, inplace=True)
new_df

,lag_1,lag_2,lag_3,lag_4,region,total_pickups,avg_pickups,day_of_week,month
tpep_pickup_datetime,,,,,,,,,
2016-01-01 01:00:00,160.0,149.0,120.0,58.0,0,187,161.0,4,1
2016-01-01 01:15:00,187.0,160.0,149.0,120.0,0,194,175.0,4,1
2016-01-01 01:30:00,194.0,187.0,160.0,149.0,0,180,177.0,4,1
2016-01-01 01:45:00,180.0,194.0,187.0,160.0,0,197,185.0,4,1
2016-01-01 02:00:00,197.0,180.0,194.0,187.0,0,185,185.0,4,1
...,...,...,...,...,...,...,...,...,...
2016-03-31 22:45:00,22.0,14.0,15.0,13.0,29,14,16.0,3,3
2016-03-31 23:00:00,14.0,22.0,14.0,15.0,29,17,16.0,3,3
2016-03-31 23:15:00,17.0,14.0,22.0,14.0,29,18,17.0,3,3
2016-03-31 23:30:00,18.0,17.0,14.0,22.0,29,13,15.0,3,3
2016-03-31 23:45:00,13.0,18.0,17.0,14.0,29,14,15.0,3,3

In [59]:
new_df["month"].value_counts()

month
3    89280
1    89160
2    83520
Name: count, dtype: int64

In [ ]:
new_df.loc[ new_df["month"].isin([1,2]),]

,lag_1,lag_2,lag_3,lag_4,region,total_pickups,avg_pickups,day_of_week,month
tpep_pickup_datetime,,,,,,,,,
2016-01-01 01:00:00,160.0,149.0,120.0,58.0,0,187,161.0,4,1
2016-01-01 01:15:00,187.0,160.0,149.0,120.0,0,194,175.0,4,1
2016-01-01 01:30:00,194.0,187.0,160.0,149.0,0,180,177.0,4,1
2016-01-01 01:45:00,180.0,194.0,187.0,160.0,0,197,185.0,4,1
2016-01-01 02:00:00,197.0,180.0,194.0,187.0,0,185,185.0,4,1
...,...,...,...,...,...,...,...,...,...
2016-02-29 22:45:00,15.0,9.0,11.0,11.0,29,12,12.0,0,2
2016-02-29 23:00:00,12.0,15.0,9.0,11.0,29,17,14.0,0,2
2016-02-29 23:15:00,17.0,12.0,15.0,9.0,29,15,14.0,0,2
2016-02-29 23:30:00,15.0,17.0,12.0,15.0,29,15,15.0,0,2
2016-02-29 23:45:00,15.0,15.0,17.0,12.0,29,12,14.0,0,2

In [67]:
new_df.loc[ new_df["month"].isin([1,2]),"lag_1":"day_of_week"]

,lag_1,lag_2,lag_3,lag_4,region,total_pickups,avg_pickups,day_of_week
tpep_pickup_datetime,,,,,,,,
2016-01-01 01:00:00,160.0,149.0,120.0,58.0,0,187,161.0,4
2016-01-01 01:15:00,187.0,160.0,149.0,120.0,0,194,175.0,4
2016-01-01 01:30:00,194.0,187.0,160.0,149.0,0,180,177.0,4
2016-01-01 01:45:00,180.0,194.0,187.0,160.0,0,197,185.0,4
2016-01-01 02:00:00,197.0,180.0,194.0,187.0,0,185,185.0,4
...,...,...,...,...,...,...,...,...
2016-02-29 22:45:00,15.0,9.0,11.0,11.0,29,12,12.0,0
2016-02-29 23:00:00,12.0,15.0,9.0,11.0,29,17,14.0,0
2016-02-29 23:15:00,17.0,12.0,15.0,9.0,29,15,14.0,0
2016-02-29 23:30:00,15.0,17.0,12.0,15.0,29,15,15.0,0
2016-02-29 23:45:00,15.0,15.0,17.0,12.0,29,12,14.0,0

In [ ]:
# split the data and also drop month because that just need split data

trainset = new_df.loc[new_df["month"].isin([1,2]),"lag_1":"day_of_week"]

testset = new_df.loc[new_df["month"].isin([3]),"lag_1":"day_of_week"]

In [69]:
trainset

,lag_1,lag_2,lag_3,lag_4,region,total_pickups,avg_pickups,day_of_week
tpep_pickup_datetime,,,,,,,,
2016-01-01 01:00:00,160.0,149.0,120.0,58.0,0,187,161.0,4
2016-01-01 01:15:00,187.0,160.0,149.0,120.0,0,194,175.0,4
2016-01-01 01:30:00,194.0,187.0,160.0,149.0,0,180,177.0,4
2016-01-01 01:45:00,180.0,194.0,187.0,160.0,0,197,185.0,4
2016-01-01 02:00:00,197.0,180.0,194.0,187.0,0,185,185.0,4
...,...,...,...,...,...,...,...,...
2016-02-29 22:45:00,15.0,9.0,11.0,11.0,29,12,12.0,0
2016-02-29 23:00:00,12.0,15.0,9.0,11.0,29,17,14.0,0
2016-02-29 23:15:00,17.0,12.0,15.0,9.0,29,15,14.0,0
2016-02-29 23:30:00,15.0,17.0,12.0,15.0,29,15,15.0,0
2016-02-29 23:45:00,15.0,15.0,17.0,12.0,29,12,14.0,0

In [70]:
# save the train and test data

train_data_save_path = "../data/processed/train.csv"

test_data_save_path = "../data/processed/test.csv"

trainset.to_csv(train_data_save_path, index=True)
testset.to_csv(test_data_save_path, index=True)

In [76]:
# train_test_split_data
X_train = trainset.drop(columns=["total_pickups"])
y_train = trainset["total_pickups"]


X_test = testset.drop(columns=["total_pickups"])
y_test = testset["total_pickups"]

In [77]:
print(X_train.shape, y_train.shape)

(172680, 7) (172680,)

In [78]:
print(X_test.shape, y_test.shape)

(89280, 7) (89280,)

In [80]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.linear_model import LinearRegression
from sklearn.pipeline import Pipeline
from sklearn.metrics import mean_absolute_percentage_error

In [81]:
from sklearn import set_config

set_config(transform_output="pandas")

In [90]:
X_train.head(10)

,lag_1,lag_2,lag_3,lag_4,region,avg_pickups,day_of_week
tpep_pickup_datetime,,,,,,,
2016-01-01 01:00:00,160.0,149.0,120.0,58.0,0,161.0,4
2016-01-01 01:15:00,187.0,160.0,149.0,120.0,0,175.0,4
2016-01-01 01:30:00,194.0,187.0,160.0,149.0,0,177.0,4
2016-01-01 01:45:00,180.0,194.0,187.0,160.0,0,185.0,4
2016-01-01 02:00:00,197.0,180.0,194.0,187.0,0,185.0,4
2016-01-01 02:15:00,185.0,197.0,180.0,194.0,0,173.0,4
2016-01-01 02:30:00,156.0,185.0,197.0,180.0,0,164.0,4
2016-01-01 02:45:00,150.0,156.0,185.0,197.0,0,158.0,4
2016-01-01 03:00:00,149.0,150.0,156.0,185.0,0,142.0,4
2016-01-01 03:15:00,117.0,149.0,150.0,156.0,0,141.0,4

In [83]:
# encode the data

encoder = ColumnTransformer([
    ("ohe", OneHotEncoder(drop="first",sparse_output=False), ["region","day_of_week"])
], remainder="passthrough", n_jobs=-1,force_int_remainder_cols=False)

In [84]:
encoder

ColumnTransformer(force_int_remainder_cols=False, n_jobs=-1,
                  remainder='passthrough',
                  transformers=[('ohe',
                                 OneHotEncoder(drop='first',
                                               sparse_output=False),
                                 ['region', 'day_of_week'])])

In [85]:
X_train_encoded = encoder.fit_transform(X_train)
X_test_encoded = encoder.transform(X_test)

lr = LinearRegression()
lr.fit(X_train_encoded, y_train)

LinearRegression()

In [86]:
y_pred_train = lr.predict(X_train_encoded)
y_pred_test = lr.predict(X_test_encoded)


train_mape = mean_absolute_percentage_error(y_train, y_pred_train)
test_mape = mean_absolute_percentage_error(y_test, y_pred_test)

In [87]:
print(f"MAPE on trainset is {(train_mape * 100):.2f}%")
print(f"MAPE on testset is {(test_mape * 100):.2f}%")

MAPE on trainset is 8.78%
MAPE on testset is 7.93%

In [89]:
X_train_encoded

,ohe__region_1,ohe__region_2,ohe__region_3,ohe__region_4,ohe__region_5,ohe__region_6,ohe__region_7,ohe__region_8,ohe__region_9,ohe__region_10,...,ohe__day_of_week_2,ohe__day_of_week_3,ohe__day_of_week_4,ohe__day_of_week_5,ohe__day_of_week_6,remainder__lag_1,remainder__lag_2,remainder__lag_3,remainder__lag_4,remainder__avg_pickups
tpep_pickup_datetime,,,,,,,,,,,,,,,,,,,,,
2016-01-01 01:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,160.0,149.0,120.0,58.0,161.0
2016-01-01 01:15:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,187.0,160.0,149.0,120.0,175.0
2016-01-01 01:30:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,194.0,187.0,160.0,149.0,177.0
2016-01-01 01:45:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,180.0,194.0,187.0,160.0,185.0
2016-01-01 02:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,197.0,180.0,194.0,187.0,185.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2016-02-29 22:45:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,15.0,9.0,11.0,11.0,12.0
2016-02-29 23:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,12.0,15.0,9.0,11.0,14.0
2016-02-29 23:15:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,17.0,12.0,15.0,9.0,14.0
2016-02-29 23:30:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,15.0,17.0,12.0,15.0,15.0
2016-02-29 23:45:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,15.0,15.0,17.0,12.0,14.0